:root {
  --color-dark10: #121212;
  --color-dark20: #000000;
  --color-white: #ffffff;
}

body {
  background-color: var(--color-dark20);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2.5rem;
  font-family: "Inter", sans-serif;
}

.mt-4 {
  margin-block-start: 1rem;
}
.mb-4 {
  margin-block-end: 1rem;
}

.debug {
  border: 3px solid red;
}
.btn.dropdown-toggle {
  width: 150px;
  text-align: left;
}

span.caret {
  position: absolute;
  left: 90%;
  top: 45%;
}

label {
  padding-top: 5px;
}

.form-label {
  padding-left: 0px !important;
}

img {
  width: 140px;
  height: 140px;
}

.btn-success {
  background-color: #3b7d4a !important;
}

.btn-success:hover {
  background-color: #4daf64 !important;
}

img.track {
  border: 1px solid #8a8a8a;
}
